aiapy==0.7.4
aioftp==0.22.3
aiohappyeyeballs==2.4.3
aiohttp==3.10.9
aiosignal==1.3.1
# anaconda-navigator==2.1.1
appdirs==1.4.4
argh==0.26.2
asciitree==0.3.3
astropy==6.0.1
astropy-iers-data==0.2024.10.7.0.32.46
astropy_healpix==1.0.3
async-timeout==4.0.3
atomicwrites==1.4.0
backports.weakref==1.0.post1
bilby==2.3.0
bilby.cython==0.5.3
bkcharts==0.2
black==19.10b0
boto==2.49.0
brotlipy==0.7.0
certifi==2021.10.8
click==8.0.3
clyent==1.2.2
conda==4.10.3
conda-build==3.21.5
conda-verify==3.4.2
ConfigArgParse==1.7
contourpy==1.3.0
corner==2.2.3
cycler==0.10.0
cytoolz==0.11.0
daal4py==2021.3.0
dask==2021.10.0
dateparser==1.2.1
deepdish==0.3.7
dill==0.3.9
dqsegdb2==1.3.0
drms==0.6.4
dynesty==2.1.5
emcee==3.1.6
entrypoints==0.3
et-xmlfile==1.1.0
fasteners==0.19
fonttools==4.25.0
frozenlist==1.4.1
gmpy2==2.0.8
gwdatafind==1.2.0
gwosc==0.7.2
gwpy==3.0.12
igwn-auth-utils==1.1.1
igwn-segments==2.0.0
importlib_resources==6.4.5
inflection==0.5.1
ipympl==0.8.8
isodate==0.7.0
lalsuite==7.19
ligo-gracedb==2.14.0
ligo-segments==1.4.0
ligotimegps==2.0.1
llvmlite==0.37.0
locket==0.2.1
lscsoft-glue==4.0.0
Mako==1.3.8
matplotlib==3.9.2
mccabe==0.6.1
mkl-fft==1.3.1
mkl-service==2.4.0
mpl-animators==1.1.1
mpld3==0.5.10
mpmath==1.2.1
multidict==6.1.0
munkres==1.1.4
mypy-extensions==0.4.3
narwhals==1.29.0
navigator-updater==0.2.1
nltk==3.6.5
numcodecs==0.12.1
numpy==1.26.4
packaging==24.2
pandas==1.3.4
parfive==2.1.0
pathspec==0.7.0
patsy==0.5.2
pegasus-wms.api==5.0.9
pegasus-wms.common==5.0.9
pep8==1.7.1
pesummary==1.3.4
Pillow==8.4.0
pkginfo==1.7.1
platformdirs==4.3.6
plotly==6.0.0
ply==3.11
PyCBC==2.7.2
PyCondor==0.6.0
pycosat==0.6.3
pycurl==7.44.1
pyerfa==2.0.1.4
pyFFTW==0.14.0
pykerr==0.1.0
pyls-spyder==0.4.0
pyodbc===4.0.0-unsupported
pytest==6.2.4
python-ligo-lw==1.8.3
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
pytz==2025.1
PyYAML==6.0
reproject==0.13.0
requests-file==2.1.0
requests-toolbelt==1.0.0
safe-netrc==1.0.1
scikit-image==0.18.3
scikit-learn-intelex==2021.20210714.100439
scipy==1.13.1
scitokens==1.8.1
seaborn==0.12.2
simplegeneric==0.8.1
sip==4.19.13
Sphinx==4.2.0
sunpy==5.1.5
TBB==0.2
terminado==0.9.4
tf==1.0.0
typing_extensions==4.12.2
tzlocal==5.3
unicodecsv==0.14.1
urllib3==1.26.7
webencodings==0.5.1
xlwings==0.24.9
xlwt==1.3.0
yarl==1.13.1
zarr==2.18.2
zeep==4.2.1
zict==2.0.0
zope.event==4.5.0
